/*styles go here*/

p {
	/*color: red;*/
	color: #666666;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-family: Georgia, "Times New Roman", serif;
}

body {
	background-color: #ebe3c3;
	font-size: 1em;
}

#container {
	background-color: #ffffff;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#nav {
	list-style-type: none;
	padding: 0;
}

#nav li {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
}

#nav a:link, a:visited {
	display: block;
	color: #ffffff;
    background-color: #98bf21;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px;
}

#nav a:hover, a:active {
    background-color: #7a991a;	
}

.caption {
	color: black;
	font-family: Georgia, "Times New Roman", serif; 
	font-style: italic;
	font-size: 0.8em;
	margin-top: 0;
	text-align: right;
}

.footer {
	color: red;
    font-family: Georgia, "Times New Roman" serif;
    font-size: 0.8em;
    border-top: 1px solid red;
}







/*#footer {
 
    border-top: 1px solid black;
}
*/








